$sub-font-color: #C0C0C0;


$breakpoints: (
  "sp": "(max-width: 520px)",
  "tab": "(min-width: 521px) and (max-width: 1279px)",
  "pc": "(min-width: 1280px)",

);


@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// * {
//   border: 1px solid red;
// }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  font-family: Montserrat,"游ゴシック体", "Yu Gothic", Yugothic, sans-serif;
  padding: 0;
  margin: 0;
  // margin: 0 auto;
}


img {
  max-width: 100%;
  height: auto;
  display: block;
}



/* header */

.header-container {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  
  @include mq('sp') {
    position: fixed;
    // display: none;
    width: 100%;
    z-index: 100;
    background: #fff;
  }
}

.header-left {
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;

  @include mq('sp') {
    margin-left: 20px;
  }
}

.header-right ul {
  display: flex;
  
  @include mq('sp') {
    display: none;
  }
}

.header-right a {
  list-style: none;
  text-decoration: none;
  line-height: 56px;
  color: black;
  font-size: 12px;
  font-weight: bold;
  margin-right: 30px;
}


// drawer
.drawer-icon {
  position: fixed;
  right: 0;
  color: #fff;
  display: none;
  z-index: 100;

  @include mq('sp') {
    display: block;
  }

  &-container {
    position: fixed;
    top: 20px;
    right: 20px;
  }
  
  
  &-bars {
    width: 30px;
    height: 30px;
    position: relative;
  }
  
  &-bar1,
  &-bar2,
  &-bar3 {
    position: absolute;
    width: 30px;
    height: 3px;
    background: #101010;
    top: 0;
    left: 0;
  }
  
  &-bar1 {
    top: 0;
  }

  &-bar2 {
    top: 12px;
  }
  
  &-bar3 {
    top: 24px;
  }
}
  
  
/* main */
.main {
  position: relative;
  background-image: url(https://github.com/kiryuchan/webgithub/blob/main/img/main-vsual-nontitle.png?raw=true);
  background-size: cover;
  width: 100%;
  height: 550px;
  
  &-container {
    text-align: center;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    @include mq('sp') {
      width: 100%;
    }
  }
  
  &-title {
    font-size: 36px;
    padding-bottom: 30px;
    
    @include mq('sp') {
      font-size: 24px;
    }
  }
  

  &-text {
    font-weight: bold;
  }
}




/* about */

.about {
  padding-top: 50px;
  text-align: center;
  width: 960px;
  margin: 0 auto;
  
  @include mq('sp') {
    width: 100%;

  }
  
  &-container {
    display: flex;
    padding-top: 50px;
    
    @include mq('sp') {
      flex-direction: column;
    }
  }
  
  &-left {
    width: 50%;
    margin-right: 30px;
    
    @include mq('sp') {
      width: 100%;
    }
  }
  
  &-left img{
    width: 100%;
  }
  
  &-right {
    width: 50%;
    text-align: left;
    
    @include mq('sp') {
      width: 100%;
      padding-top: 50px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
  
  

// course 

.course {
  width: 960px;
  text-align: center;
  padding-top: 70px;
  margin-left: auto;
  margin-right: auto;

  @include mq('sp') {
    width: 100%;
  }
  
  &-items {
    display: flex;
    padding-top: 30px;
    
    @include mq('sp') {
    flex-direction: column;
  }
}

&-item {
  width: calc(33.3% - 24px * 2 / 3);
  margin-right: 24px;
  text-align: left;
  list-style: none;
  font-size: 12px;
  
  @include mq('sp') {
    width: 100%;
    padding-top: 20px;
  }
}
}






/* contact */

.contact {
  text-align: center;
  padding-top: 50px;
  
  &-container {
    padding-top: 50px;
  }
  
  &-text {
    font-size: 12px;
    font-weight: bold;
    
  }
}

input {
  width: 500px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid $sub-font-color;
  padding-left: 10px;

  @include mq('sp') {
    width: 100%;
  }
}

button {
  width: 300px;
  height: 40px;
  background: #FA8072;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 30px;
  font-size: 18px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: translate(0, 4px);
}


/* footer */

.footer {
  padding-top: 90px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;

  @include mq('sp') {
    width: 100%;
  }
  
  &-text {
    border-top: 1px solid $sub-font-color;
    padding-top: 20px;
    text-align: right;
    font-size: 12px;
    color: $sub-font-color;
}
}





